<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Niviane_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpJSONPBinding" crossDomainScriptAccessEnabled="true"></binding>
			</webHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="restJSONBehavior">
					<webHttp helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"   />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<services>
			<service name="Niviane_Service.Niviane">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9087/Niviane/" />
					</baseAddresses>
				</host>
				<endpoint address="xml" binding="wsHttpBinding" contract="Niviane_Service.INiviane" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<endpoint address="" binding="webHttpBinding" contract="Niviane_Service.INiviane"
					bindingConfiguration="webHttpJSONPBinding"
					behaviorConfiguration="restJSONBehavior" />
			</service>
		</services>
	</system.serviceModel>
	
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

	<userSettings>
	  <Niviane_Service.Properties.Settings>
	   <setting name="LogFilePath" serializeAs="String">
		<value>C:\Logs\Niviane.txt</value>
	   </setting>
	   <setting name="ZWavePollInterval" serializeAs="String">
		<value>0</value>
	   </setting>
	   <setting name="ZWaveConfigPath" serializeAs="String">
		<value>config</value>
	   </setting>
	   <setting name="ZWaveSerialPort" serializeAs="String">
		<value>COM3</value>
	   </setting>
	   <setting name="VLCPathToExe" serializeAs="String">
		<value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
	   </setting>
	  </Niviane_Service.Properties.Settings>
	</userSettings>
</configuration>
